/* navbar */
.nav-item{
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.nav-icons{
    padding-right: 30px;
}
/* home */
.home-section{
    background-color: #e0ece3;
    height:600px;
}
.home-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-left: 150px;
    padding: 70px;
}
.banner_img{
    /* margin-bottom: 400px; */
    height: 500px;
    margin-left: 200px;
}
.banner-btn{
    margin-left: 150px;
    width: 300px;
    height: 60px;
}